<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Viesure" verbose="1">


    <test name="basic test" thread-count="3">
        <classes>

            <class name="org.viesure.testRunner.ArticleTestRunner" />

        </classes>
    </test>

</suite>
